/* Variables */
:root {
    --primary-color: #770404;
    --secondary-color: #1c1c1e;
    --background-color: #f9f9f9;
    --text-color: #333333;
    --font-family: "TikTok Sans", "Montserrat", "Roboto", sans-serif;
}

/*dark theme variables*/
[data-theme="dark"] {
    --primary-color: #6307ad;
    --secondary-color: #bbb;
    --background-color: #1e1e1e;
    --text-color: #eee;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*dark mode toggle styles*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main Content Styles */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

.testimonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.first-testimonial-content {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 20px;
}

.first-author-info {
    display: flex;
}