/* Variables */
:root {
    --primary-color: #770404;
    --secondary-color: #1c1c1e;
    --background-color: #f9f9f9;
    --text-color: #333333;
    --font-family: "TikTok Sans", "Montserrat", "Roboto", sans-serif;
}

/*dark theme variables*/
[data-theme="dark"] {
    --primary-color: #6307ad;
    --secondary-color: #bbb;
    --background-color: #1e1e1e;
    --text-color: #eee;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*dark mode toggle styles*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main Content Styles */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1rem;
}

.testimonials-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* first testimonial card styles */
.first-testimonial-content {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1rem 1rem 0 1rem;
}

.arrow {
  border: solid var(--secondary-color);
  border-width: 0 5px 5px 0;
  display: inline-block;
  position: relative;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  left: 50px;
  top: -15px;
}

.first-testimonial-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1.5rem;
}

.first-testimonial-author img.first-author-avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 70px;
    height: 70px;
}

/* Second testimonial card styles */
.second-testimonial {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
}

.second-testimonial-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.second-testimonial img.second-author-avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 70px;
    height: 70px;
}

/* Third testimonial card styles */
.third-testimonial {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    margin: 1rem;
}

.third-testimonial-content {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1rem;
    height: 250px;
}

.third-author-info p {
  color: #9e9e9e;
}

.third-author-avatar {
    border-radius: 20px;
    margin: 1rem;
    width: 100%;
    height: 250px;
}

.rating-stars {
    display: block;
    margin-bottom: 1rem;
    width: 100px;
    height: auto;
}

.third-author-info {
    margin: 1rem 0;
}

/* Fourth testimonial card styles */
.fourth-testimonial {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    font-weight: 500;
}

.fourth-testimonial-content {
    padding: 1rem;
}

.fourth-testimonial-author {
    margin-top: 0.5rem;
}

.author-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-carousel::before {
    content: "<";
    position: relative;
    flex: 1;
    left: 60px;
    font-weight: bolder;
}

.author-carousel::after {
    content: ">";
    position: relative;
    flex: 1;
    right: 60px;
    font-weight: bolder;
}

.fourth-testimonial-author img.fourth-author-avatar-2 {
    border-radius: 50%;
    margin: 1rem;
    width: 70px;
    height: 70px;
}

.fourth-author-avatar-1, .fourth-author-avatar-3 {
    border-radius: 50%;
    margin: 1rem;
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .testimonials-container {
        grid-template-columns: 1fr;
    }

    .third-testimonial {
        grid-template-columns: 1fr;
    }

    .third-author-avatar {
        width: 93%;
    }
}